/* Footnotes */
.footnote-ref {
    vertical-align: super;
    font-size: small;
}

.footnote-label{
    margin-right: 6px;
     text-decoration: underline;
}

/* Titles */
.title {
    font-size: 1.3em;
    font-weight: 600;
    margin: .47em 0;
    border-bottom: 1px solid #B6B6B6;
    font-family: /*"Roboto Condensed",*/ sans-serif font-size : 1.6 em;
}

.nr {
    padding-right: 1em;
}

/* List styling */
.loweralpha {
    list-style-type: lower-alpha;
}

.arabic {
    /*
       NOTE: this does not mean Arabic script, but just 1, 2, 3...
       See http://www.docbook.org/tdg5/en/html/orderedlist.html
    */
    list-style-type: decimal;
}

.lowerroman {
    list-style-type: lower-roman;
}

.upperalpha {
    list-style-type: upper-alpha;
}

.upperroman {
    list-style-type: upper-roman;
}

/* Bridgehead and emphasis styling: */
/* NOTE: We can't handle double underline combined with strike-through */
.smallcaps {
    font-variant: small-caps;
}

.caps {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.strike-through {
    text-decoration: line-through;
}

.underline.strike-through {
    text-decoration: line-through;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.double-underline.strike-through {
    /*TODO do some box shadow trick to get second underline*/
    text-decoration: line-through;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.double-underline {
    text-decoration: underline;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

em.bold {
    font-style: normal;
}